body{
	margin:0;
	padding:0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.6em;
}

h1 {
	font-size: 36px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 18px;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	color: #3a3a3a;
	font-weight: 700;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
}


.lead{
	font-weight: 400;
}

button {
	display: inline-block;
	margin-bottom: 0;
	margin-bottom: 10px;
	padding: 6px 12px;
	border: 1px solid transparent;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.428571429;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
button.navbar-toggle {
	background: #2b2b2b;
	border: none;
	color: #fff;
}

.btn-theme,.btn-theme:hover,.btn-theme:focus{
	color: #fff;
}
.btn-theme:hover{
	background: transparent !important;
	border-color: #999;
	color: #999;
}


/* ================================
margin, padding
================================= */
.mar-top0 {
	margin-top: 0;
}
.mar-top10 {
	margin-top: 10px;
}
.mar-top20 {
	margin-top: 20px;
}
.mar-top30 {
	margin-top: 30px;
}
.mar-top40 {
	margin-top: 40px;
}



#intro{
    height:635px;
    width:100%;
	background-color: #287649;
	background-image: url(../img/bg-mac.png);
    background-position:center;
    background-repeat:no-repeat;
    overflow-y:hidden;
    text-align:center;
    position:relative;
}



.intro-text {
	position:relative;
	width:100%;
	margin-top:200px;
	z-index:1000;
}
#intro .brand {
	margin-top: 40px;
}
.intro-text h1 a {
	color:#fff;
	text-align:center;
	font-weight: 700;
	font-size: 40px;
	line-height:1.1em;
	padding-top:30px;
	text-transform: uppercase;
}
.intro-text h1 a:hover {
	text-decoration: none;
}

.line-spacer {
	width: 20%;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 25px;
	border-bottom:1px solid #fff;
}

.intro-text p span {
	color:#fff;
	font-size: 24px;
	text-align:center;
	font-weight: 300;
}


@media (max-width:768px) {
	#intro{
		background-image: url(../img/bg-mac.png);
		background-size:100%;
	}
	.box-team, .box-team img {
		text-align: center;
	}
	.box-team img {
		float: none;
		margin:0 auto;
	}
	.box-team {
		margin-bottom: 30px;
	}


}

@media (max-width:992px) {


	.service p{
			margin-bottom: 60px;
	}

}

@media (max-width:480px){
	#intro{
		background-image: none;
	}
}