<%= render 'tasks/maket' %>
<style>
  table{
    margin-top: 10%;
    background: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius:  10px;
    -khtml-border-radius:10px;
  }

</style>


<%@users=User.all %>
<div style="margin-left: 15%;margin-right: 15%;" class="page-content inset">

  <div class="row">

    <table class="table table-hover">
    <thead>
    <tr>
      <%$i = 0
         while $i<Basic.connection.columns(@tabnam).map(&:name).length do%>
          <th>

          <%=
            Basic.connection.columns(@tabnam).map(&:name)[$i]
          %>

          </th>
      <%
        $i=$i+1
        end %>
    </tr>
    </thead>
    <tbody>
    <%
      res=Basic.connection().execute("select * from #{@tabnam}") %>
          <%
            res.each do |row|%>
            <tr>
              <h5>
              <% $i = 0
                 while $i<Basic.connection.columns(@tabnam).map(&:name).length do%>
                    </h5>
                  <td>
           <h5>
             <%=
               row[$i]
             %>
           </h5>
                  </td>
              <%
                $i=$i+1
                end %>
            </tr>
            <%	 end %>
    </tbody>
  </table>
</div>
</div>

