<%= render 'layouts/scrip' %>
    <div id="intro">
    <div class="intro-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
              HELLO WORLD
            </p>
        </div>
      </div>
    </div>
  </div>
  </div>

