<style>
  #intro{
    background-color: #8dcb36;
  }
</style>
<div id="intro">
  <div class="intro-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="brand">
            <div class="line-spacer"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>