// Place all the styles related to the Altair controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
body {
  background-color: #287649;
  background: -webkit-linear-gradient(right, #287649, #287649);
  background: -moz-linear-gradient(right, #287649, #287649);
  background: -o-linear-gradient(right, #287649, #287649);
  background: linear-gradient(to left, #287649, #287649);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  padding:80px 120px;
}

.bg-1 {
  background:#2d2d30;
  color:#bdbdbd;
}

.bg-1 h3 {
  color:#fff;
}

.bg-1 p {
  font-style:italic;
}

.list-group-item:first-child {
  border-top-right-radius:0;
  border-top-left-radius:0;
}

.list-group-item:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

.thumbnail {
  border:none;
  border-radius:0;
  padding:0 0 15px;
}

.thumbnail p {
  margin-top:15px;
  color:#555;
}

.btn {
  background-color:#333;
  color:#f1f1f1;
  border-radius:0;
  transition:.2s;
  padding:10px 20px;
}

.btn:hover,.btn:focus {
  border:1px solid #333;
  background-color:#fff;
  color:#000;
}

.modal-header,h4,.close {
  background-color:#333;
  color:#fff!important;
  text-align:center;
  font-size:30px;
}

.modal-header,.modal-body {
  padding:40px 50px;
}

.nav-tabs li a {
  color:#777;
}

@media (max-width 600px) {
  .carousel-caption {
    display:none;
  }
}
